/*wireframe.css stylings for portfolio 2.0*/

* {box-sizing: border-box; margin: 0; padding: 0;}

/*============================================*/
/*stylings for the wireframe measurments*/

html {
	background-image: url(images/graph.png);
	background-repeat: repeat;
	background-size: 2em;
	}

body {
	position: absolute;
	background-image: url(images/column.png);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	width: 100%;
	height: 100%;
}

/*============================================*/
/*Stylings for header name and navbar*/

header{
	width: 100%;
	height: 7.4%;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.2em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 .2em;
}

nav {
	width: 70%;
	max-width: 22em;
	min-width: 15.6em;
}

nav ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
}

/*============================================*/
/*stylings for text and headings*/

li a {
	text-decoration: none;
	color: white;
}

article:first-child {
	padding: .5em 0 0 0;
}

article p, figure, h1, h2, h3, h4 {
	padding: 0 .5em .5em .5em;
}

p, figcaption {line-height: 1.1em;}

/*============================================*/
/*stylings for images used*/

figure {
	background-color: #ffffff;
	width: 100%;
	padding: 0;
	margin: 1em 0;
}

.preview-link {
	width: 100%;
	height: 10em;
	object-fit: cover;
	object-position: center;
}

figcaption {
	width: 100%;
	background-color: cadetblue;
}

/*============================================*/
/*stylings for footer tag excluding form*/


footer {
	width: 100%;
	background-color: #575859;
	color: #ffffff;
}

footer form {
	width: 90%;
	padding: 0 .5em .5em .5em;
}

#social-footer {
	width: 50%;
}
